<section class='top-nav'>
  <%=link_to root_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3>Your Debts</h3>
</section>

<section class='flashes'>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class='flash-msg'>
      <%=flash[:notice]%>
    </div>
  <% end %>
</section>

<p class='info'>Click on the debtor's name for more info</p>
<section class='debt-section'>
  <%if @debts.where(user_id: current_user.id).any? %>
    <article>
      <% @debts.where(user_id: current_user.id).each do |debt| %>
        <% debt.debt_details.each do |debt_detail| %>
          <div class='debt-box'>
            <div class='debt-detail'>
              <p class='amt'>$<%= debt_detail.amount %></p>
              <div class='debtor-info'>
                <p class='debtor'>to: <%=link_to debt.debtor, debt_details_path(id: debt.id) %></p>
                <p>Due: <%= debt_detail.due_date %></p>
              </div>
            </div>
            <%=link_to edit_debt_path(id: debt.id), class: 'edit-link' do%>
              <i class="fa-regular fa-pen-to-square"></i>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </article>
  <%else%>
    <p class='no-debt'>You did not have any debt, use the button below to add new debts</p>
  <%end%>
</section>

<footer class='footer'>
  <%=link_to new_debt_path do %>
    <button>Add Debt</button>
  <%end%>
</footer>
