<section class='top-nav'>
  <%=link_to root_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3>Your Debts</h3>
</section>

<section class='flashes'>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class='flash-msg'>
      <%=flash[:notice]%>
    </div>
  <% end %>
</section>

<section class='debt-section'>
  <% if @debts.where(user_id: current_user.id).any? %>
    <article>
      <% displayed_debt_ids = [] %>
      <% @debts.where(user_id: current_user.id).each do |debt| %>
        <% unless displayed_debt_ids.include?(debt.id) %>
          <% total_amount_owed = DebtDetail.total_amount(debt.id)%>
          <% debt_detail = debt.debt_details.first %>
          <div class='debt-box'>
            <div class='debt-detail'>
              <p class='amt'>$<%= total_amount_owed %></p>
              <div class='debtor-info'>
                <p class='debtor'>to: <%= debt.creditor %></p>
                <p>Due: <%= debt_detail&.due_date %></p>
              </div>
            </div>
            <%= link_to debt_details_path(id: debt.id), class: 'edit-link' do %>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <% end %>
          </div>
          <% displayed_debt_ids << debt.id %>
        <% end %>
      <% end %>
    </article>
  <% else %>
    <p class='no-debt'>You did not have any debt, use the button below to add new debts</p>
  <% end %>
</section>

<footer class='footer'>
  <%=link_to new_debt_path do %>
    <button>New Debt</button>
  <%end%>
</footer>
