<section class='debt-section'>
  <h3>List of Your Debts</h3>
  <%if @debts.any? %>
    <ul>
      <%@debts.each_with_index do |debt, index|%>
        <li><%= index + 1%></li>
        <li><%=link_to debt.debtor, user_debt_path(user_id: debt.user_id, id: debt.id) %></li>
        <%= form_with(model: debt, url: user_debt_path(user_id: debt.user_id, id: debt.id),
        method: :delete, data: { confirm: 'Are you sure you want to delete this debt?' }) do |form| %>
          <%= form.button '', class: 'btn', type: 'submit' do %>
            <i class="fa-regular fa-trash-can"></i>
          <%end%>
        <% end %>
      <%end%>
    </ul>
  <%else%>
    <p class='no-debt'>You did not have any debt, use the button below to add new debts</p>
  <%end%>
</section>

<footer class='footer'>
  <button>
    <%=link_to 'Add Debt', new_user_debt_path(user_id: @user.id)%>
  </button>
</footer>
