<h1>Debts#index</h1>

<p>User is <strong><%=@user.username.upcase%></strong> and his id is <%=@user.id%></p>
<p>All Debts for <strong><%=@user.username.upcase%></strong></p>
<ul>
  <%@debts.each do |debt|%>
    <li><%=link_to debt.debtor, user_debt_path(user_id: debt.user_id, id: debt.id) %>
      <%=link_to 'Delete Icon', user_debt_path(user_id: debt.user_id, id: debt.id), method: :delete %>
    </li>
  <%end%>
</ul>

<button>
  <%=link_to 'Add Debt', new_user_debt_path(user_id: @user.id)%>
</button>
