<section class='debt-section'>
  <h3>List of Your Debts</h3>
  <%if @debts.where(user_id: current_user.id).any? %>
    <article>
      <% @debts.where(user_id: current_user.id).each do |debt| %>
        <div class='debt-box'>
          <div class='debt-detail'>
            <p class='amt'>$<%= debt.amount %></p>
            <div class='debtor-info'>
              <p class='debtor'>to: <%=link_to debt.debtor, debt_path(id: debt.id) %></p>
              <p>Due: in <%=debt.due_date %></p>
            </div>
          </div>
          <%= form_with(model: debt, url: debt_path(id: debt.id),
          method: :delete, data: { confirm: 'Are you sure you want to delete this debt?' }) do |form| %>
            <%= form.button '', class: 'btn', type: 'submit' do %>
              <i class="fa-regular fa-trash-can"></i>
            <%end%>
          <% end %>
        </div>
      <%end%>
    </article>
  <%else%>
    <p class='no-debt'>You did not have any debt, use the button below to add new debts</p>
  <%end%>
</section>

<footer class='footer'>
  <button>
    <%=link_to 'Add Debt', new_debt_path%>
  </button>
</footer>
