<section class='top-nav'>
  <%=link_to debts_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3>New Debt</h3>
</section>

<%= bootstrap_form_with model: @debt, url: debts_path(), class: 'new_edit' do |f| %>
  <!-- Debt fields -->
  <%= f.text_field :creditor %>

  <!-- DebtDetail fields -->
  <%= f.fields_for :debt_details do |debt_detail_fields| %>
    <%= debt_detail_fields.text_field :amount %>

    <%= debt_detail_fields.date_field :due_date %>

    <%= debt_detail_fields.text_area :reason %>
  <% end %>

  <%= f.submit 'Add Debt' %>
<%end%>
