<section class='top-nav'>
  <%=link_to debts_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3><%=@debt.debtor%> Debt</h3>
</section>

<section class='debt-show'>
    <article>
      <h5>Amount</h5>
      <h5>Due Date</h5>
      <h5>Paid</h5>
    </article>
    <article>
      <p><%=@debt.amount%></p>
      <p><%=@debt.due_date%></p>
      <%if @debt.is_paid %>
        <p>Paid</p>
      <%else %>
        <p>Unpaid</p>
      <%end%>
    </article>
</section>

<footer class='footer'>
  <button>
    <%=link_to "Edit Debt", edit_debt_path(id: @debt.id) %>
  </button>
</footer>