<header>
  <h1><%= user_signed_in? ? "Welcome #{current_user.name}" : "DebtEase" %></h1>
</header>

<section class="index-section">
  <% unless user_signed_in? %>
    <p class="para">You can manage your debts with ease.</p>
    <p class='index-section-para2'>Stay organized and keep track of your financial obligations.</p>
  <% end %>
</section>

<footer class='footer'>
  <% if user_signed_in? %>
    <p>Start managing your debts today!</p>
    <div>
      <button><%=link_to 'Manage Your Debt', debts_path %></button>
      <button><%=link_to 'Sign Out', destroy_user_session_path, method: :delete %></button>
    </div>
  <%else%>
    <div>
      <button><%=link_to 'Log In', new_user_session_path %></button>
      <button><%=link_to 'Sign Up', new_user_registration_path %></button>
    </div>
  <%end%>
</footer>
