<header>
  <h1><%= user_signed_in? ? "Welcome #{current_user.name}" : "DebtEase" %></h1>
</header>

<p>Link to Debt details <%=link_to 'debtdetails', debt_details_path() %></p>

<section class="index-section">
  <% unless user_signed_in? %>
    <p class="para">You can manage your debts with ease.</p>
    <p class='index-section-para2'>Stay organized and keep track of your financial obligations.</p>
  <% end %>
</section>

<footer class='footer'>
  <% if user_signed_in? %>
    <p>Start managing your debts today!</p>
    <div>
      <%=link_to debt_details_path do%>
        <button>Manage Your Debt</button>
      <%end%>
      <%=link_to destroy_user_session_path, method: :delete do %>
        <button>Sign Out</button>
      <%end%>
    </div>
  <%else%>
    <div>
      <%=link_to new_user_session_path do %>
        <button>Log In</button>
      <%end%>
      <%=link_to new_user_registration_path do %>
        <button>Sign Up</button>
      <%end%>
    </div>
  <%end%>
</footer>
