<section class='top-nav'>
  <%=link_to creditors_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3><%=@creditor.creditor%> Debt</h3>
</section>

<section class='flashes'>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class='flash-msg'>
      <%=flash[:notice]%>
    </div>
  <% end %>
</section>

<section class='debt-show'>
  <article>
    <h5>Amount</h5>
    <h5>Due Date</h5>
    <h5>Reason</h5>
    <h5>Status</h5>
  </article>
  <article>
    <% @creditor.debts.each do |debt| %>
      <p><%=debt.amount%></p>
      <p><%=debt.due_date%></p>
      <p><%=debt.default_reason(debt.reason)%></p>
      <%if debt.is_paid %>
        <p>Paid</p>
      <%else %>
        <p>Unpaid</p>
      <%end%>
      <%=link_to edit_debt_path(id: debt.id), class: 'edit-link' do%>
        <i class="fa-regular fa-pen-to-square"></i>
      <%end%>
      <%= form_with(model: debt, url: debt_path(id: debt.id),
        method: :delete, data: { confirm: 'Are you sure you want to delete this debt?' }) do |form| %>
        <%= form.button '', class: 'btn', type: 'submit' do %>
          <i class="fa-regular fa-trash-can"></i>
        <%end%>
      <% end %>
    <%end%>
  </article>
</section>

<footer class='footer'>
  <%=link_to new_debt_path(id: @creditor.id) do %>
    <button>Add Debt</button>
  <%end%>
</footer>