<section class='top-nav'>
  <%=link_to debts_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3><%=@debt.creditor%> Debt</h3>
</section>

<section class='debt-show'>
    <article>
      <h5>Amount</h5>
      <h5>Due Date</h5>
      <h5>Reason</h5>
      <h5>Status</h5>
    </article>
    <article>
      <% @debt.debt_details.each do |debt_detail| %>
        <p><%=debt_detail.amount%></p>
        <p><%=debt_detail.due_date%></p>
        <p><%=debt_detail.default_reason(debt_detail.reason)%></p>
        <%if debt_detail.is_paid %>
          <p>Paid</p>
        <%else %>
          <p>Unpaid</p>
        <%end%>
        <%=link_to edit_debt_detail_path(id: debt_detail.id), class: 'edit-link' do%>
          <i class="fa-regular fa-pen-to-square"></i>
        <%end%>
        <%= form_with(model: debt_detail, url: debt_detail_path(id: debt_detail.id),
          method: :delete, data: { confirm: 'Are you sure you want to delete this debt?' }) do |form| %>
          <%= form.button '', class: 'btn', type: 'submit' do %>
            <i class="fa-regular fa-trash-can"></i>
          <%end%>
        <% end %>
      <%end%>
    </article>
</section>

<footer class='footer'>
  <%=link_to new_debt_detail_path(id: @debt.id) do %>
    <button>Add Debt</button>
  <%end%>
</footer>