<section class='top-nav'>
  <%=link_to debt_details_path(id: @creditor.id) do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3>New Debt</h3>
</section>

<%= bootstrap_form_with model: @debt_detail, url: debt_details_path, class: 'new_edit' do |form| %>
  <!-- Debt fields -->
  <%= form.text_field :amount %>
  <%= form.date_field :due_date %>
  <%= form.text_area :reason %>
  <%= form.hidden_field :creditor_id, value: @creditor.id %>
  <%= form.submit 'Add Debt' %>
<%end%>